body{
	width: 80%;
  border: 20px solid #bdc3c7;
  font-family: 'Roboto Slab', serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;

}

h1{
	font-family: Baloo Thambi;
	text-transform: capitalize;
}

h2{
	color:#3498db; 
	text-align: left;
	text-transform: uppercase;
	font-family: Amatic SC;
	letter-spacing: .2rem;
}

.firstParagraph{
	border-left-width: 3px;
	border-left-style: solid;
	border-color: #bdc3c7;
	padding-left: 2px;

}

hr{
	width: auto;
}